<h1>Welcome {{username}}!</h1>

<h2>Bookmarks</h2>
<div>
	<input type="text" ng-model="search" placeholder="search">
	<input type="radio" name="action" value="delete" ng-model="act">delete
	<input type="radio" name="action" value="download" ng-model="act">download
	<a href="view.html" target="_blank">(View Offline)</a>
	<a href="" ng-click="refresh_bookmarks()">(Refresh Data)</a>
	
	<ul>
		<li ng-repeat="bookmark in bookmarks | filter : search | limitTo : 20">
			<input type="checkbox" ng-click="action(bookmark)">
			<a href="{{bookmark.url}}" target="_blank">{{bookmark.text}}</a>
		</li>
	</ul>
</div>
<img src="img/ajax-loader.gif" id="ajax_loader">